@model BuildingAndFreezerApp.Models.Payment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutFreezer.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    if (@ViewBag.message != null)
    {
        <script>
            alert("المبلغ المدفوع اكبر من الموجود فى الخزنه");
        </script>
    }

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2 class="alert alert-success text-center"> اضافة</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Type", new List<SelectListItem>
         {
          new SelectListItem{ Text= "اختار نوع المصاريف", Value = "اختار نوع المصاريف" },
            new SelectListItem{ Text="كهرباء ", Value = "كهرباء" },
            new SelectListItem{ Text=" صيانة ", Value = "صيانة" },
            new SelectListItem{ Text="نقل ", Value = "نقل" },
            new SelectListItem{ Text="مرتبات ", Value = "مرتبات" },
       }, new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="save" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#save").click(function () {
            if ($("#Type option:selected").val() == "اختار نوع المصاريف") {
                alert('ادخل نوع المصاريف');
                return false;
            }

        });
    </script>
}
