@model BuildingAndFreezerApp.Models.Trader

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutFreezer.cshtml";

}
<h2 class="alert alert-success text-center">تعديل</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("النوع", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("cat_Id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.cat_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NumberOfOne, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NumberOfOne, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NumberOfOne, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Cash, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cash, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cash, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("التلاجه", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("FrID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FrID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Section", new List<SelectListItem>
{
new SelectListItem{ Text="عنبر امامى فوق", Value = "عنبر امامى فوق" ,Selected=Model.Section=="عنبر امامى فوق"},
new SelectListItem{ Text="عنبر امامى تحت", Value = "عنبر امامى تحت" ,Selected=Model.Section=="عنبر امامى تحت" },
new SelectListItem{ Text="عنبر اوسط فوق", Value = "عنبر اوسط فوق",Selected=Model.Section=="عنبر اوسط فوق" },
new SelectListItem{ Text="عنبر اوسط تحت", Value = "عنبر اوسط تحت" ,Selected=Model.Section=="عنبر اوسط تحت" },
new SelectListItem{ Text="عنبر خلفى فوق", Value = "عنبر خلفى فوق",Selected=Model.Section== "عنبر خلفى فوق"},
new SelectListItem{ Text="عنبر خلفى تحت", Value = "عنبر خلفى تحت" ,Selected=Model.Section=="عنبر خلفى تحت"},
}, new { @class = "form-control" })
        </div>
    </div>
</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
