@model BuildingAndFreezerApp.Models.BuildingMatrial

@{
    ViewBag.Title = "Delete";
}

<h2 class="alert alert-danger text-center"> حذف </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillNumbe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillNumbe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prices)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MumOfMat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MumOfMat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building.buildName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.buildName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matriel.matName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matriel.matName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("العودة للقائمة السابقة", "Index", null, htmlAttributes: new { @class = "btn btn-info" })
        </div>
    }
</div>
