@model BuildingAndFreezerApp.Models.Fridage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fridage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fr_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fr_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fr_NumOfSection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fr_NumOfSection)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Fr_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
