@model BuildingAndFreezerApp.Models.BuildingEmployee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BuildingEmployee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building.buildName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.buildName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employess.empName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employess.empName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
