@model BuildingAndFreezerApp.Models.BuildingRepositry
@{
    ViewBag.Title = "IndexReserved";
}

<h2 class="alert alert-success text-center">الاقساط</h2>

<table class="table table-borderless table-bordered table-hover table-striped ">
    <tr class="table alert alert-danger table-active table-warning">
        <th>
            buildName
        </th>
        <th>
            ClientName
        </th>
        <th>
            Reserved Date
        </th>
        <th>
            Change
        </th>
        <th>
            Register Reserved
        </th>
    </tr>

    @foreach (var item in Model.ClientReserve)
    {
        if (item.Reserve.ChangePrices > 0)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Building.buildName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reserve.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reserve.ChangePrices)
                </td>
                <td>@Html.ActionLink("تسجيل الحجوزات", "RegisterReserve", new { id = item.id }, new { @class = "btn btn-primary" })</td>

            </tr>
        }
    }

</table>