@model IEnumerable<BuildingAndFreezerApp.Models.Reserve>

@{
    ViewBag.Title = "Index";
}

<h2 class="alert alert-success text-center">العملاء</h2>
<div class="panel">
    <div class="panel-body alert alert-link  form-group form-inline list-inline">
        @using (Html.BeginForm("Index", "Reserves", FormMethod.Get))
        {
            <input type="submit" value="بحث" class="btn btn-success form-control " />
            @Html.TextBox("searching", "", null, htmlAttributes: new { @class = "form-control ", placeholder = "ادخل اسم العميل او العمارة", @id = "txtsearch" })
        }
    </div>
</div>
<p>
    @Html.ActionLink("اضافة جديد", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-borderless table-bordered table-hover table-striped ">
    <tr class="table alert alert-danger table-active table-warning">
        <th>
            @Html.DisplayNameFor(model => model.Building.buildName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.RePrices)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Comission)
        </th>
        <th>
            السعر الفعلى
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashPrices)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangePrices)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.NumPrem)
            </th>*@

        <th>
            @Html.DisplayNameFor(model => model.DateFirstPrem)
        </th>
        <th>التعديل</th>
        <th>التفاصيل</th>
        @*<th>تفاصيل الحجوزات</th>*@
        <th>تعديل</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Building.buildName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.RePrices)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Comission)
            </td>
            <td>
                @{var acutalPrice = item.RePrices - item.Comission;}
                @String.Format("{0:###,###,###}", acutalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashPrices)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangePrices)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.NumPrem)
                </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.DateFirstPrem)
            </td>

            <td>
                @Html.ActionLink("تعديل", "Edit", new { id = item.id }, new { @class = "btn btn-success" })
            </td>
            <td>
                @Html.ActionLink("تفاصيل", "Details", new { id = item.id }, new { @class = "btn btn-warning" })
            </td>
            @*<td>
                    @Html.ActionLink("تفاصيل الحجوزات", "DetailsOneClient", new { id = item.id }, new { @class = "btn btn-primary" })
                </td>*@
            <td>
                @Html.ActionLink("حذف", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
